@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-font-color: #1a1363;
  --primary: #1a1363;
  --yellow-bold: #fdee21;
  --yellow-light: #ffff7d;
  --purple-bold: #332f64;
  --purple-light: #77749b;
  --grey-bold: #4b4b4b;
  --grey-light: #e4ffdf;
  --while: #ffffff;
  --while-brow: #ece9e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100%;
  margin: 0;
  background-color: #ece9e9;
  font-size: 16px;
}
html {
  overflow: auto;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
